@charset "UTF-8";
body {
  background-color: #ffffff;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: none;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.links a {
  margin-right: 10px;
  color: #333;
}
